<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Awards</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/index}">
        <img th:src="@{~/raffle-512.png}" alt="Jottery Logo" width="40px" src="../static/raffle-512.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Awards<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/lottery}">Lottery</a>
            </li>
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <p class="title mt-2">Add Award:</p>
    <form class="form-inline mt-1" action="#" th:action="@{/awardFormHandle}" th:object="${award}" method="post">
        <div class="input-group mb-2 mr-sm-4">
            <div class="input-group-prepend">
                <div class="input-group-text">Name</div>
            </div>
            <input type="text" class="form-control" id="min" placeholder="Text" th:field="*{name}">
        </div>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Level</label>
        <div class="input-group mb-2 mr-sm-4">
            <div class="input-group-prepend">
                <div class="input-group-text">Level</div>
            </div>
            <select name="Level" id="inlineFormInputGroupUsername2" th:field="*{levelItem}" style="width: 130px">
                <option th:each="level:${levels}" th:value="${level.id}">
                    <p th:text="${level.name}"></p>
                </option>
            </select>
        </div>
        <label class="sr-only" for="number">Number</label>
        <div class="input-group mb-2 mr-sm-4">
            <div class="input-group-prepend">
                <div class="input-group-text">Number</div>
            </div>
            <input type="number" class="form-control" id="number" placeholder="Number" th:field="*{number}">
        </div>

        <button type="submit" class="btn btn-primary mb-2 ml-5">Submit</button>
    </form>
    <table class="table table-dark mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Level</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="award:${awards}">
            <th scope="row" class="tbl_row"></th>
            <td th:text="${award.name}">Mark</td>
            <td th:text="${award.number}">Otto</td>
            <td th:text="${award.levelItem}">@mdo</td>
        </tr>
        </tbody>
    </table>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    counter();
    function counter() {
        var rows = document.getElementsByClassName("tbl_row");
        for(var i = 0;i<rows.length;i++){
            rows[i].innerHTML = i+1;
        }
    }

</script>
</body>
</html>